@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

* {
  margin: 0;
}
html, body {
  height: 100%;
    -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font: normal 100%/1.4 Roboto, sans-serif;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

body {
  background-color: #ccc;
  min-width: 240px;
  max-width: 3000px;
  margin: 1em;
  padding: .5rem;
}

article {
  overflow: hidden;
  margin: 1em;
}

ul {
  list-style-type: none;
  clear: both;

}

li {
  display: inline-block;
}

div img {
  width: 40%;
  bottom: 0;
  right: 0;
}

@media only screen and {min-width:

}
