@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

html, body {
  height: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font: normal 100%/1.4 Montserrat, sans-serif;
}

h1 {
  padding-bottom: 1.5rem;
  font-style: 700;
}

p {
  padding-bottom: 1rem;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 50px; /* .push must be the same height as .footer */
}

.footer img {
  position: absolute;
  min-width: 100%;
  height: auto;
  margin-bottom: -3em;
}

body {
  background-image: url('geometry.png');
  margin: 1em 1em 0em 1em;
  padding: 0;
}

article {
  overflow: auto;
  padding: 1em;
}

ul img {
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: bottom;
}

li {
  display: inline-block;
  margin: 0 5px;
}

.icon {
  width: 100%;
  position: absolute;
  bottom: 15%;
  left: 0%;
}

div img {
  width: 30%;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 25em) {


}


@media only screen and (min-width: 36em) {
  .footer img {
    min-width: 50%;
    max-height:auto;
    float:left;
    position:absolute;


  }

}
