<ul>
  <li class="list-group-item list-group-item-inline">
    <a href="https://twitter.com/stephbydesign" class="icon i-twitter ir">
      Twitter
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="ca.linkedin.com/pub/stephanie-albert/49/a11/524" class="icon i-googleplus ir">
      linkedin
    </a>
  </li>
  <li class="list-group-item list-group-item-inline">
    <a href="https://www.behance.net/stephbydesign" class="icon i-pinterest ir">
      Behance
    </a>
  </li>
</ul>
