.icon {
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 5px 10px;

  background: url("../img/icons/icon-sprites.png") no-repeat 0 0;
}

.icon-text {
  border-bottom: 1px solid rgba(102, 102, 255, 0.3);
}

.icon-link {
  text-decoration: none;
  color: #66f;
}

.i-twitter {
  background-position: bottom right;
}

.i-linkedin {
  background-position: bottom right;
}

.i-behance {
  background-position: top left;
}

.i-pinterest {
  background-position: top right;
}

