.list-group {
  padding-left: 0;
  list-style-type: none;
  text-decoration: none;
}

.list-group-item {
  display: block;
  /*padding or background-color would go here if we wanted to add this*/
}

.list-group-item li {
  text-align: center;
}

.list-group-item-inline {
  display: inline;
}
