<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stephanie Albert</title>

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/general.css">
  <link rel="stylesheet" type="text/css" href="portfolio.html">
</head>
<body>

  <nav>
    <a href="{{site.baseurl}}/index.html">Home</a>
    <a href="{{site.baseurl}}/portfolio.html">Portfolio</a>
    <a href="{{site.baseurl}}/contact.html">Contact</a>
  </nav>

  {{content}}

  <footer>
    <div class="footer">
      <img src="img/face-small.png" alt="profile picture">
    </div>
  </footer>

</body>
</html>
